<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{url_for('user', nickname = customer.user.nickname)}}"><img src="{{customer.user.avatar(70)}}" /></a></td>
        <td>
            {% autoescape false %}
            <p>{{ _('%(nickname)s\'s Customer Information:', nickname = '<a href="%s">%s</a>' % (url_for('user', nickname = customer.user.nickname), customer.user.nickname)) }}</p>
            {% endautoescape %}
            <p><strong><span id="customer{{customer.id}}">Name = {{customer.name}}</span></strong></p>
            <p><strong><span id="customer{{customer.email}}">Email = {{customer.email}}</span></strong></p>
            <p><strong><span id="customer{{customer.aws_acct_id}}">AWS Account ID = {{customer.aws_acct_id}}</span></strong></p>
            <p><strong><span id="customer{{customer.id}}">Updated {{ _('%(when)s', when = momentjs(customer.timestamp).fromNow()) }}</span></strong></p>
        </td>
        <td>
        <a href="{{url_for('cust_edit', name = customer.name)}}">{{ _('Edit this Customer Information') }}</a>
        </td>
    </tr>
</table>
