<p>{{ _('Dear %(name)s,', name = customer.name) }}</p>
<p></p>
<p>{{ _('You are all set to go!') }}</p>
<p></p>
<p>{{ _('Using the image is simple.') }}</p>
<p></p>
<p>{{ _('Log-in to your AWS/EC2 console, and say launch Instances (I prefer Spot Instances because they are way cheaper than the On-Demand instances. I do take snapshots after critical updates so that even if the instance goes down, I will not lose my changes).') }}</p>
<p></p>
<p>{{ _('1)	Change the datacenter to Oregon (top right)') }}</p>
<p>{{ _('2)	Select the My AMIs tab and select Private Images in the pull down') }}</p>
<p>{{ _('3)	You should see ARIA_SERVER_V11_RDP_09_20_2013 image in the list (if not check the datacenter setting)') }}</p>
<p>{{ _('4)	Set the security group policy to allow only RDP connection (port 3389) – http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html#creating-security-group (Let me know if you need help here). Please open any other port that you require, but avoid opening all ports.') }}</p>
<p>{{ _('5)	Launch the instance') }}</p>
<p>{{ _('6)	The username and password I can text it to someone') }}</p>
<p></p>
<p>{{ _('Regards,') }}</p>
<p></p>
<p>{{ _('%(name)s', name = user.nickname) }}</p>