<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Deploy') }}</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="deploy">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="checkbox-label" for="mmfs">{{ form.mmfs.label }}</label>
            <div class="checkbox" style = "list-style-type:none">
                {{ form.mmfs() }}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="org">{{ _('Organization') }}</label>
            <div class="controls">
                {{ form.org(class = "span4") }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Deploy!') }}">
            </div>
        </div>
    </form>
</div>
</form>
{% endblock %}
